<h1>EAT THE BURGER</h1>
<!-- this is index.handlebars -->
<ul>
  {{#each burger}}
  	<li>
  		<p>ID: {{this.id}} </p>
      <p><span class="label">Quote:</span> {{this.burger_name}}</p>
      <p><span class="label">Author:</span> {{this.date}}</p>

      {{!-- Form should send a delete command to the server --}}
      {{!-- <form>
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Delete</button>
      </form> --}}

      {{!-- <a href="/quotes/{{this.id}}">Update this quote</a> --}}
  	</li>
  {{/each}}
</ul>

<h2>Add a Quote</h2>

{{!-- Form should send a post command to the server --}}
<form class="create-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="quo">Quote:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Submit</button>
  <h5></h5>
</form>